body{ background-color: white; 
font-weight:bold;
}
ul{
	color: red
	;
	text-decoration: none;
}
h1 {
	color: red
	; 	
	text-decoration: none;
}
h2 {
	color: red; 
	text-decoration: none;
}
div {background-color: black;
}
.wrap{
	width: 200px;
	margin: auto;
	text-align: center;
}
.content{
	background: red
	

}