body{ background-color: white; 
font-weight:bold;
}
ul{
	color: red
	;
	text-decoration: none;
}
h1 {
	color: red
	; 	
	text-decoration: none;
}
h2 {
	color: red; 
	text-decoration: none;
}
div {
	background-color: black;
	border-style:solid;
}
.wrap{
	width: 600px;
	margin: left;
	text-align: center;
	border-style: dashed;
	border-color: red;
}
.content{
	background: red;
	text-align: left;
	width:600px;
	margin: left
}
.head{
	border-style: solid;
	border-color: red;
	width:600px;
}